In [3]:
my_str = "Never tell me the odds"
my_ls = my_str.split()
print(my_ls[2])

me

In [4]:
tupple = 1,2,3
print(tupple)

(1, 2, 3)

In [5]:
s = "python rocks"
print(s[2]+s[-5])

tr

In [6]:
s = "python"
excl = "!"
print(s+excl*3)

python!!!

In [11]:
def mys_fn(lst):
    s = 0 
    for num in lst:
        if (num % 2 == 1):
            continue
        else:
            s = s + num
    return s
lst = list(range(7))
print(mys_fn(lst))

print(lst)
print(2%2)

12
[0, 1, 2, 3, 4, 5, 6]
0

In [18]:
x = 3

if (x>2):
    x = x*2
if(x>4):
    x=0

print(x)

0

In [5]:
mm = [[1,1,2,2], [1,2,3,4], [1,6,0,2], [1,7,1,8]]
total = 0
col = len(mm[1]) - 2
for row in range(len(mm)):
    total = total + mm[row][col]
print("total:", total)

total: 6

In [10]:
for i in range(5):
    for j in range(5):
        if (i==j):
            break
        else:
            print(j, end="")
    print("-")

-
0-
01-
012-
0123-

In [12]:
movie = {'title':'crazy', 'direct': 'jon', 'cast': {'rach':'const'}, 'locations': ['kl','l','p','s']}
for city in movie.get('locations'):
    print(city)

kl
l
p
s

In [9]:
def f1(d, key):
    d[key] = d[key] + 1

def f2(d, key):
    dd = d.copy()
    dd[key] = dd[key] + 1
    return dd

def f3(d, key):
    d[key] =  d[key] + 1
    return d
    
dvalues = {1:31, 2:40}
d1new = f1(dvalues, 1)
d2new = f2(dvalues, 1)
d3new = f3(dvalues, 1)
print(d1new)
print(d2new)
print(d3new)
print(d2new is dvalues)
print(d2new == dvalues)
print(d3new is dvalues)

None
{1: 33, 2: 40}
{1: 33, 2: 40}
False
True
True

In [1]:
s = " This Place Is Awesome "
# Remember to update the value: s = ...
s = s.lower().split()
print(s)

['this', 'place', 'is', 'awesome']

In [41]:
s = "freundschaftsbezeugung"
print(s[5:-4:3])

dhteu

In [43]:
a = [ [10,20], [70,80] ]
b = a[:]

a[0][1] = 99
b[1][0] = 40

print(a)
print(b)

print(a[1][0])
print(b[0][1])

## Why??

[[10, 99], [40, 80]]
[[10, 99], [40, 80]]
40
99

In [4]:
a= [1,2,3]
print(average(a))

NameError: name 'average' is not defined

In [18]:
import turtle

t = turtle.Turtle
turtle.color("pink", "blue")
turtle.pensize(10)
turtle.begin_fill() 
turtle.forward(100)
turtle.right(170)
turtle.forward(50)
turtle.left(100)
turtle.forward(100)
turtle.left(90)
turtle.forward(50)
turtle.end_fill()
turtle.done()